*{

	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{

	font-family: 'open sns';
}

.nav-toggle{

	color: #fff;
	background: none;
	border: none;
	font-size: 30px;
	padding: center;
	line-height: 60px;
	display: none; /*no aparesca*/

}

.contenedor{

	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

.titulo  b  {

	width:500px ;
	justify-content: center;
	align-items: center;
	padding: 20px;


}

/*header*/

header{

	width: 100%;
	height: 600px;
	background: #bc4e9c;
	background-image: url(../img/fondo-masajista.jpg);  
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}


nav{
    
    text-align: right; /*alineacion del texto*/
    padding: 30px 50px 0 0 ; /*desplazamiento de la frase*/
}


nav > a{

	color:#fff;
	font-weight: 300;/*tama単o de la fuente*/
	text-decoration: none; /*Quita el subrrallado*/
	margin-right: 10px; /*separa las palabras*/

}

nav > a:  hover{

	text-decoration: underline;
	 /*pone el subrrallado cuando pasa el maus*/
	
}

header .texto-header{
	
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center ;
	justify-content: center;
	flex-direction: column;
	text-align: center;

}

.texto-header h1{

	font-size: 50px;
	color:#fff;

}

.texto-header h2{

	font-size: 30px;
	font-weight: 300;
	color:#fff;

	}


.wave{
     
     position: absolute;
     bottom: 0;
     width: 100%;

}

.contenedor-sobre-nosotros{

	display: flex;
	justify-content: space-evenly;
}

.titulo{

	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	padding: 30px;
	
}



.imagen-about-us{

	width: 50%;
	height: 10%;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

ul, li{

	margin: 0;
	padding: 0;
	list-style: none;
}

ul.slider{

	position: relative;
	width: 50%;
	height: 10%;
	margin-right: 20px;
}

ul.slider li{

	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: inherit;
	height: inherit;
	background-color: opacity .5s;
}

ul.slider li img{

width: 210%;
height: 600px;
object-fit: cover;



}

ul.slider li: first-child{

	opacity:1;
}

ul.slider li:target{
   opacity: 1;
}

.contenedor-sobre-nosotros .menu{

	display: flex;
    justify-content: center;
    position: absolute;
    padding: 41% 35% 50px 40px;

}

.menu li{

	padding: 5px;
}

.menu li a{

	display:flex;
	text-decoration: none;
	background-color: black;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
	padding: 10px;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}

.sobre-nosotros .contenido-textos{

	width: 48%;
	height: 10%;

}

.contenido-textos h3{

	margin-bottom: 30px;
	margin-left: 20px;

}

.contenido-textos h3 span{

	border-radius: 50%;
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	padding: 2px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
	margin-right: 2px;

}


.contenido-textos p{

	padding: 15px 6px 15px 6px;
	color:#fff;
	font-weight: 800px;
	margin: 6px 2px 2px 20px;
	text-align: center;
	background-image: linear-gradient(to right, #434343 0%, black 100%);
	display: flex; 
	align-items: center;
	width: 90%;
	height: 5px;
	border-radius: 5px;
	box-shadow:  3px 6px 9px 0 rgba(0, 0, 0, 0.6);
}


.portafolio{

	background: #f2f2f2;
}

.galeria-port{

	display: flex;
    justify-content: center;
    flex-wrap: wrap;
	/*flex-direction: column; organiza en columna los objetos
	flex-direction: row; organiza en filas
	flex-wrap: wrap; organiza las cajas uniformemente*/
    /*justify-content: space-evenly;
    flex-flow: row flow; utiliza las dos propiedades
    flex-flow: column wrap;

    flex-grow: 3; ajusta las cajas al tama単o que uno le de
    flex-shrink: 0; lo maximo que se puede encojer
    flex-basis: 200px; lo minimo en tama単o
    flex: 0 0 200px; une las 3 en una

    justify-content: center; centra las cajas
    justify-content: flex-start; alinear a la izquierda
    justify-content: flex-end;alinear a la derecha
    justify-content: space-around; hace una separacion
    justify-content: space-between;la separacion es mas notoria

    align-items: center; se centrara en toda la mitad  del cuadro
    align-items: flex-start; alinea arriva
    align-items: flex-end; alinea a bajo
    align-items: stretch; se alargaran las cajas ocupando todo

    align-content funciona con wrap
    align-content: space-between; deja mas espacio en las cajas
    align-content: space-around; deja menos espacio en las cajas
    align-content: stretch; alarga las cajas
    align-content: center; centra las cajas organizadamente*/


}

.imagen-port{

    width: 90%;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 5px;
	height: 300px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
	
}

.imagen-port > img{

	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.hover-galeria{

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	transform: scale(0);
	background: hsla(273, 91%, 27%, 0.7);
	transition: transform .5s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.hover-galeria img{

	width: 50px;
}

.hover-galeria p{

	color: #fff;
}

.imagen-port:hover .hover-galeria{

	transform: scale(1);
}

.cards{

	display: flex;
	justify-content: space-evenly;

}

.cards .card{

	background:#4d0686 ;
	display: flex; 
	width: 46%;
	height: 200px;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
	box-shadow:  0 0 6px 0 rgba(0, 0, 0, 0.6);
}


 .card img{

	width: 100px;
	height: 100px;
	object-fit: cover;
	border: 3px solid #fff;
	border-radius: 50%;
	display: block;
}

.card > .contenido-texto-card{

	width: 60%;
	color:  #fff;
}

.card > .contenido-texto-card p{

	font-weight: 300;
	padding-top: 5px;
}

.about-service{
	background: #f2f2f2;
	padding-bottom: 30px;
}

.servicio-cont{
	display: flex;
	justify-content: center;
	align-content: space-around;

}

.servicio-ind{

	width: 28%;
	text-align: cener;

}

.servicio-ind img{

	width: 85%;
	height: 75%;
	align-items: center;
	border-radius: 5px;
	background:#4d0686 ;
	display: flex; 
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
	box-shadow:  0 0 6px 0 rgba(0, 0, 0, 0.6)


}

.servicio-ind h3{

	margin: 10px 0px;
}

.servicio-ind p{

	font-weight: 300;
	text-align: justify;
	margin: 20px 20px 10px 10px;
	


}



.costos{

	display: flex;
    justify-content: center;
	width: 90%;
	margin: 10px 10px 10px 110px;
	padding-bottom: 50px;
	text-align: center;
	padding-right: 100px;
	overflow: hidden;/*separar las frases*/

}

.costo h1{

  
	border-bottom:  1px solid #000;
	padding-bottom: 0px;
	margin: 10px 90px 2px 90px;



}

.costo h3{



}



footer{

	background: #414141;
	padding: 20px 20px 20px 20px;
	margin: 10% 0% 0% 0%;
	overflow: hidden;

}

.contenido-footer{

	display: flex;
	width: 90%;
	justify-content: center;
	margin: 10px 10px 10px 110px;
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
}


.content-foo{

	text-align: center;
	padding-right: 100px;

}


.content-foo h4{

	color: #fff;
	border-bottom:  1px solid #fff;
	padding-bottom: 2px;
	margin-bottom: 10px;
}

.content-foo p{

	color: #ccc;
	
}

.titulo-final{

	text-align: center;
	font-size: 24px;
	margin: 20px 0 0 0;
	color: #9e9797;
}

@media screen and (max-width: 900px){

header {

background-position: center; 

}	

.contenedor-sobre-nosotros{

	display: flex;
	flex-direction: row;
	justify-content: center;
		
	}

.sobre-nosotros .contenido-textos{

	width: 90%;
	
}


.imagen-about-us{

	justify-content: center;

}

ul.slider{

	position: relative;
	width: 50%;
	height: 10%;
	margin-right: 20px;
}

 .menu li {

   	display: flex;
   	justify-content: center;
    margin-right: 20px;
    margin-bottom: 180%;
    padding-bottom: 5%;
    align-items: center;
  
   }



.sobre-nosotros .contenido-textos{

	width: 50%;
	height: 10%;
	font-size: 13px;

}

.contenido-textos h3{

	font-size: 20px;
}



.imagen-port{

	width: 35%;
}



.section-about-service h2{

	margin-bottom: 1px ;
	padding-bottom: 1px;
}

.servicio-cont{

	justify-items: right;
	flex-direction: row;
	width: auto;
	padding: 50px;

}

.servicio-ind{

	width: 80%;
	padding: 10px;
	margin:0px;
	
}

.servicio-ind:nth-child(1), . servicio-ind:nth-child(2){
    
    margin-bottom: 2px;

}


.servicio-ind img{

	width: 90%;

}

.contenido-footer{

	width: auto;
	justify-content: center;

}

}

@media screen and (max-width: 500px){

	nav{

		text-align: center;
	    padding: 30px 0 0 0;
	}

	nav > a{
		margin-right: 5 px;
	}

	.textos-header h1{

		font-size: 35px;
	}

	.textos-header h2{

		font-size: 10px;
	}

	.imagen-about-us{

		margin-bottom: 20px;
		width: 50%;
	}

	.contenedor-sobre-nosotros {

		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		padding-bottom: 40px;
		flex-wrap: wrap;
	}

	ul.slider{

	position: relative;
	width: auto;
	height:auto;
	margin-right: 20px;
	padding: 80%;


    }

    ul.slider li img{

    width: 150%;
    height: 500px;
    object-fit: cover;

   }

   .menu li {

   	display: flex;
   	justify-content: center;
    margin-right: 20px;
    margin-bottom: 280%;
    padding-bottom: 5%;
    align-items: center;
  
   }



	.sobre-nosotros .contenido-textos{

		display: flex;
		flex-wrap: wrap;  
		margin-bottom: 0px;
		width: 100%;
		padding-bottom:0px;
		font-size: 15px;
	}

	.contenido-textos h3{


		font-size: 20px;

	}

	
.costos{

	display: flex;
    justify-content: center;
    flex-direction: column;
	width: 120%;
	margin:0px 0px 0px 1px;
	text-align: center;
	padding-right: 90px;
	

}

.costo h1{

  
	border-bottom:  1px solid #000;
	padding-bottom: 0px;
	margin: 10px 90px 2px 80px;



}

	
footer{

		width: auto;
		margin-bottom: auto;
		padding: auto;

	}


	.contenido-footer{

		width: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	    border-bottom: none;

	}

	.content-foo{


	    justify-content: center;
	    padding: 10px 10px 5px 250px;
	}



}

@media screen and (max-width: 320px){

   nav{

		flex-direction:row;
		background-color: #414141;
		position: absolute;
		overflow-y: auto;/* a単adir barra de desplazamiento */
	  
	}

	nav a{

		text-align: left;
		flex-direction: column;
		margin: 50px;
		padding: 50px;

	}


	.nav-toggle{

	color: #fff;
	background: none;
	border: none;
	font-size: 30px;
	padding: center;
	line-height: 60px;
	display: none; /*no aparesca*/

}

	.textos-header h1{

		font-size: 5px;
	}

	.textos-header h2{

		font-size: 10px;
	}

	.imagen-about-us{

		margin-bottom: auto;
		width: auto;
	}

	.contenedor-sobre-nosotros {

		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		padding-bottom: 40px;
		flex-wrap: wrap;
	}

	ul.slider{

	position: relative;
	width: auto;
	height:auto;
	margin-right: 20px;
	padding: 80%;


    }

    ul.slider li img{

    width: 110%;
    height: 400px;
    object-fit: cover;

   }

   .menu li {

   	display: flex;
   	justify-content: center;
    margin-right: 20px;
    margin-bottom: 230%;
    padding-bottom: 1%;
    align-items: center;
  
   }



	.sobre-nosotros .contenido-textos{

		display: flex;
		flex-wrap: wrap;  
		margin-bottom: 5px;
		width: 100%;
		padding-bottom:5px;
		font-size: 9px;
	}

	.contenido-textos h3{


		font-size: 20px;

	}

	
.costos{

	display: flex;
    justify-content: center;
    flex-direction: column;
	width: 120%;
	margin:0px 0px 0px 5px;
	text-align: center;
	padding-right: 50px;
	

}

.costo h1{

  
	border-bottom:  1px solid #000;
	padding-bottom: 0px;
	margin: 10px 90px 2px 90px;



}

	
footer{

		width: auto;
		margin-bottom: auto;
		padding: auto;

	}


	.contenido-footer{

		width: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	    border-bottom: none;

	}

	.content-foo{


	    justify-content: center;
	    padding: 10px 3px 5px 40px;
	}


}


